/*
Quick Note Taker
By: https://github.com/m-sarabi
*/

/* Global */

:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

/* Theme Colors */

body.dark-mode {
    --background-color: #313131;
    --background-color2: #1b1b1b;
    --paper-lines-color: rgba(153, 180, 238, 0.53);
    --text-color: #fff;
    --title-color: #fff;
    --border-color: #fff;
    --border-color2: #fff5;
    --button-hover-color: #fff;
    --button-hover-text-color: #000;
    --button-hover-border-color: #fff;
    --status-background: #444;
    --category-background: #fff2;
    --green-status: #008800;
    --red-status: #880000;
    --card-red: #440000;
    --card-yellow: #444400;
    --card-magenta: #440044;
    --card-green: #004400;
    --card-cyan: #004444;
    --card-blue: #000044;
}

body.light-mode {
    --background-color: #f9f9fb;
    --background-color2: #fff;
    --paper-lines-color: rgba(74, 94, 143, 0.53);
    --text-color: #000;
    --title-color: #000;
    --border-color: #000;
    --border-color2: #0005;
    --button-hover-color: #000;
    --button-hover-text-color: #fff;
    --button-hover-border-color: #000;
    --status-background: #f0f0f0;
    --category-background: #0002;
    --green-status: #77FF77;
    --red-status: #FF7777;
    --card-red: #ffabab;
    --card-yellow: #ffffab;
    --card-magenta: #ffabff;
    --card-green: #abffab;
    --card-cyan: #abffff;
    --card-blue: #ababff;
}

/* General */

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100vw;
    height: max(100vh, 600px);
    border: 1px solid #000;
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color2);
    padding: 10px;
    position: relative;
    height: 60px;
    box-shadow: 0 1px 10px #000;
    z-index: 1000;
}

header > h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    flex: 1;
    user-select: none;
}

footer {
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: var(--background-color2);
    z-index: 1000;
    height: 40px;
    width: 100%;
    box-shadow: 0 -1px 10px #000;
}

/* Buttons */

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button * {
    pointer-events: none;
}

.svg-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: var(--text-color);
}

.svg-button svg {
    width: 100%;
    height: 100%;
}

.svg-button.small {
    width: 25px;
    height: 25px;
}

.svg-button.medium {
    width: 35px;
    height: 35px;
    padding: 5px;
    background: var(--background-color2);
}

.svg-button.medium:hover {
    background: var(--background-color);
}

.svg-button.large {
    width: 40px;
    height: 40px;
}

button.faded {
    background: none;
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.2s ease;
}

button.faded:hover {
    opacity: 1;
    transform: scale(1);
}

button.fading {
    background: none;
    opacity: 1;
    transition: 0.2s ease;
}

button.fading:hover {
    opacity: 0.5;
}

button.primary {
    background-color: #007bff;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

button.primary:hover {
    background-color: #0056b3;
}

button.danger {
    background-color: #dc3545;
}

button.danger:hover {
    background-color: #a71d2a;
}

#new-note-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 3;
}

.edit-button {
    position: relative;
    margin-bottom: 10px;
}

/* Input Fields */

.input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--border-color2);
    padding-bottom: 10px;
}

.input-row:has(.input-row.split) {
    flex-direction: row;
}

.input-row.split {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    flex: 1;
}

.input-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-inline-start: 10px;
    margin-inline-start: 5px;
    border-inline-start: 3px solid var(--border-color2);
}

/* Custom Select */

.input-box {
    display: flex;
    gap: 5px;
}

.input-option {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--border-color2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-option.selected {
    border: 2px solid var(--border-color);
}

/* General Inputs */

input[type="text"], input[list] {
    font-size: 18px;
    padding: 5px;
    background-color: var(--background-color2);
    color: var(--text-color);
    width: 100%;
    border: 1px solid var(--border-color2);
    border-radius: 5px;
}

input[list] {
    font-size: 14px;
    padding: 7px;
}

input[type="date"], input[type="time"] {
    background-color: var(--background-color2);
    border: 1px solid var(--border-color2);
    padding: 2px;
    border-radius: 2px;
    height: 24px;
}

input[type="date"]:invalid, input[type="time"]:invalid {
    background-color: #f003;
}

textarea {
    width: 100%;
    height: 50%;
    min-height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    background-color: var(--background-color2);
    color: var(--text-color);
    border: 1px solid var(--border-color2);
    border-radius: 5px;
}

select {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    color: var(--text-color);
}

option {
    font-size: 20px;
    color: var(--text-color);
}

select#priority-input {
    font-family: Arial, FontAwesome, sans-serif;
}

select#priority-input option[value="low"] {
}

/* Search */

#search-wrapper {
    position: relative;
}

#search-wrapper svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    will-change: transform, opacity;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#search-wrapper svg:hover {
    opacity: 1;
    background-color: var(--background-color);
}

#search {
    width: 150px;
    margin-right: 10px;
    margin-top: 2px;
    padding-right: 30px;
    border: 1px solid var(--border-color2);
    border-radius: 5px;
    outline: none;
    background-color: var(--background-color2);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
}

#search::placeholder {
    user-select: none;
}

#search:focus {
    background-color: var(--background-color);
}

#advanced-search-wrapper {
    position: absolute;
    top: 47px;
    right: 55px;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    padding: 5px 5px 0;
    border: 1px solid var(--border-color2);
    border-radius: 8px 0 8px 8px;
    box-shadow: 1px 1px 2px var(--border-color2), -1px -1px 2px var(--border-color2), -1px 1px 2px var(--border-color2);
    background-color: var(--background-color2);
    transition: max-height .4s ease-in-out, opacity .4s cubic-bezier(1, 0, 0.5, 1);
}

#advanced-search-wrapper.show {
    max-height: 300px;
    opacity: 1;
    pointer-events: all;
}

#advanced-search-wrapper input[list] {
    width: 200px;
}

input[type=date] {
    margin-right: 5px;
}

/* Hidden Elements */

.invisible {
    visibility: hidden;
    pointer-events: none;
}

.hidden {
    display: none;
}

/* Windows */

.window {
    height: calc(100% - 100px);
    width: 100%;
    overflow: auto;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.window:not(#notes-window) {
    padding: 20px;
}

#info-window {
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--background-color);
}

#notes-window {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

#notes-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#notes-list {
    padding: 10px;
    position: relative;
    overflow: auto;
    min-height: 100%;
}

.category-header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    user-select: none;
    background-image: linear-gradient(to right, var(--category-background) 50%, transparent 120%);
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 12px;
}

.category-header svg {
    width: 14px;
    height: 14px;
    color: goldenrod;
    stroke-width: 3;
}

/* Flex Row */

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.flex-row.edit-buttons {
    width: 50%;
    align-self: center;
}

.flex-row p {
    min-width: 70%;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
    word-break: break-all;
}

.flex-row a {
    background-color: var(--text-color);
    color: var(--background-color2);
    text-decoration: none;
    padding: 3px 7px;
    border-radius: 5px;
    box-shadow: 0 0 4px #0007;
    transition: all 0.2s ease-in-out;
}

.flex-row a:hover {
    background-color: var(--background-color2);
    color: var(--text-color);
}

#donate-wallet-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px #0007;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    will-change: transform, box-shadow;
    transition: 0.4s ease-in-out;
}

#donate-wallet-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #0007;
}

/* Card */

.card {
    position: absolute;
    height: 40px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    overflow: hidden;
    /*box-shadow: 0 1px 4px #000a;*/
    filter: drop-shadow(0 2px 2px #0009);
    /*border: 1px solid #0003;*/
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    will-change: top, height, width, filter;
    transition: top 0.5s ease, height 0.5s ease, width 0.5s cubic-bezier(0.5, 0, 0.5, 1), filter 0.5s ease;
}

.card h3 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    transform: scale(0.85);
    max-width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transform-origin: 50% 0;
    will-change: transform;
    transition: transform 0.5s ease;
}

.card.expanded h3 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    transform: scale(1);
}

.card p {
    cursor: auto;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Indie Flower', cursive;
    max-width: calc(100% - 10px);
    overflow-wrap: break-word;
    background-image: repeating-linear-gradient(transparent, transparent 24px, var(--paper-lines-color) 25px, var(--paper-lines-color) 26px);
    background-position-y: -4px;
    background-attachment: local;
}

.card p:only-of-type {
    min-height: 60px;
}

.card.expanded {
    width: 90%;
    filter: drop-shadow(0 2px 5px #000b);
    cursor: default;
    border: 0 solid #0005;
    transition: top 0.5s ease, height 0.75s ease, width 0.5s cubic-bezier(0, 1, 0.5, 1), filter 0.5s ease;
}

.card.full {
    scrollbar-width: thin;
    overflow: auto;
}

.card .category {
    max-width: calc(100% - 10px);
    font-size: 14px;
    transform: translateY(-5px);
    opacity: 0;
    will-change: transform, opacity;
    transition: 0s ease;
}

.card.expanded .category {
    opacity: 1;
    transform: translateY(-5px);
    transition: 1s ease;
}

.card .priority-svg {
    position: absolute;
    top: 11px;
    left: 4px;
    width: 18px;
    height: 18px;
    padding-right: 3px;
    pointer-events: none;
    transition: 0.5s ease;
    border-right: 2px solid var(--border-color2);
}

.card.expanded .priority-svg {
    opacity: 0;
    transform: scale(0);
}

/* Flying Status */

.flying-status {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background-color: var(--status-background);
    opacity: 1;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    height: 30px;
    z-index: 1001;
    pointer-events: none;
    will-change: transform, opacity;
    transition: transform 1.5s cubic-bezier(0, 1, 0.5, 1), opacity 1.5s ease 0.5s;
}

.flying-status.fly {
    transform: translateX(-50%) translateY(-90px);
    opacity: 0;
}

.flying-status.green {
    background-color: var(--green-status);
}

.flying-status.red {
    background-color: var(--red-status);
}

/* SVG */

.star-svg {
    fill: #FFD700;
}

@media (max-width: 100px) {
    body {
        width: 400px;
    }
}